@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-gray-50;
}

@layer components {
    .btn {
        @apply bg-[#01019c] text-white px-3 py-2 rounded-md text-sm 
    }
}