<template>
    <div>
        <ProductDetails :product="product"/>
    </div>
</template>

<script setup>
import ProductDetails from '~/componenets/ProductDetails.vue';

    const { id } = useRoute().params
    const url = 'https://fakestoreapi.com/products/' + id
    const { data: product } = await useFetch(url, {key: id})

    definePageMeta ({
        layout: 'products'
    })
</script>

<style scoped>

</style>