<template>
    <div>
        <h2>Products</h2>
        <div class="grid grid-cols-4 gap-4">
            <div v-for="p in products">
                <ProductCard :product="p"/>
            </div>
        </div>
    </div>
</template>

<script setup>
import ProductCard from '~/componenets/ProductCard.vue';

definePageMeta ({
    layout: 'products'
})

// Fetch products
const { data: products } = await useFetch('https://fakestoreapi.com/products') 
</script>

<style lang="scss" scoped>

</style>