<template>
    <div>
        <header class="shadow-sm bg-white">
            <nav class="container mx-auto p-4 flex justify-between">
                <NuxtLink to="/" class="font-bold">NUXT DOJO</NuxtLink>
                <ul class="gap-4 flex">
                    <li><NuxtLink to="/" >Home</NuxtLink></li>
                    <li><NuxtLink to="/about" >About</NuxtLink></li>
                    <li><NuxtLink to="/products" class="btn">Products</NuxtLink></li>
                </ul>
            </nav>
        </header>
        <!-- Output the page content-->
        <div class="container mx-auto p-4">
            <slot />
        </div>
    </div>
</template>

<style scoped>
    .router-link-exact-active {
        color:#01019c;
        text-decoration: none;

    }
</style>