<template>
    <div>
        <header class="shadow-sm bg-white">
            <nav class="container mx-auto p-4">
                <NuxtLink to="/" class="font-bold">NUXT DOJO Products</NuxtLink>
            </nav>
        </header>
        <!-- Output the page content-->
        <div class="container mx-auto p-4">
            <slot />
        </div>
        
        <footer class="container mx-auto justify-between border-t-2">
            <ul class="flex gap-4">
                <li><NuxtLink to="/" >Home</NuxtLink></li>
                <li><NuxtLink to="/about" >About</NuxtLink></li>
                <li><NuxtLink to="/products" >Products</NuxtLink></li>
            </ul>
        </footer>
    </div>
</template>

<style scoped>
    .router-link-exact-active {
        color:rgb(1, 1, 156);
        text-decoration: none;

    }
</style>