<template>
    <div>
        <h1>Home page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio odio, necessitatibus et esse similique quos temporibus deleniti unde sunt possimus!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto consectetur optio exercitationem quod eos quibusdam inventore odio illum a sit consequuntur voluptatem fuga debitis, animi expedita libero temporibus delectus similique laudantium eum! Quia quaerat nam aspernatur deserunt dicta. Vel soluta a facere odit harum, vero fuga nihil id illo obcaecati.</p>
    </div>
</template>

<script setup>

</script>

<style lang="scss" scoped>

</style>