<template>
    <div class="cards">
        <div class="flex flex-row justify-between">
            <div class="m-3 mr-20 p-auto flex-1">
                <img :src="product.image" alt="product image" class="mx-auto my-7">
            </div>
            <div class="details-card ml-15 h-full flex-2">
                <div class="description-header border-b-4 border-red-500">
                    <h2 class="text-5xl my-7">{{ product.title }}</h2>
                    <p class="product-price text-xl my-7"> $ {{ product.price }}</p>
                </div>
                <h3 class="font-bold">Product description:</h3>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>
</template>

<script setup>
const { product } = defineProps(['product'])
</script>

<style scoped>
img{
    max-width: 400px;
}
h2 {
    font-size: 60px;
    color: #01019c;
}
.description-header{
    margin-bottom: 3rem;
}
.details-card{
    padding: 2rem;
}
.product-price{
    text-transform: uppercase;
    font-size: 35px;
    color: #666666;
    font-style: italic;
}

</style>